@model TaxCalc.Entities.Tax
@{
    var total = (double)(Model.taxable_amount + Model.amount_to_collect);
}

<div class="text-left pad-left">
    <div class="row">
        <div class="col-sm-12">
            <div>
                @Html.LabelFor(model => model.amount_to_collect, new { @class = "control-label, font-weight-bold" }): @Html.Raw(Model.amount_to_collect.ToString("C"))

            </div>
            <div>
                @Html.LabelFor(model => model.order_total_amount, new { @class = "control-label, font-weight-bold" }): @Html.Raw(Model.order_total_amount.ToString("C"))
            </div>
            <div>
                @Html.LabelFor(model => model.rate, new { @class = "control-label, font-weight-bold" }): @Html.Raw(Model.rate.ToString("P2"))
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div>
                @Html.LabelFor(model => model.taxable_amount, new { @class = "control-label, font-weight-bold" }): @Html.Raw(Model.taxable_amount.ToString("C"))
            </div>
            <div>
                @Html.Label("", "Total Order Amount", new { @class = "control-label, font-weight-bold" }): @Html.Raw(total.ToString("C"))
            </div>
        </div>
    </div>
</div>